name: mfswd62b_cpd
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.1

dependencies:
  camera: ^0.11.3
  flutter:
    sdk: flutter
  flutter_hooks: ^0.21.3+1
  geolocator: ^14.0.2
  hooks_riverpod: ^3.1.0
  shared_preferences: ^2.5.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
